[Unit]
Description=Web File Browser
After=network.target
Wants=network.target

[Service]
Type=simple
User=http
DynamicUser=yes
RuntimeDirectory=%p
StateDirectory=%p
ExecStart=/usr/bin/filebrowser --database %S/%p/%i.db --socket %t/%p/%i --socket-perm 0600

ReadWritePaths=%S/%p
CapabilityBoundingSet=
NoNewPrivileges=yes
ProtectSystem=strict
ProtectHome=yes
ProtectProc=invisible
PrivateTmp=yes
PrivateDevices=yes
ProtectHostname=yes
ProtectClock=yes
ProtectKernelTunables=yes
ProtectKernelModules=yes
ProtectKernelLogs=yes
ProtectControlGroups=yes
RestrictAddressFamilies=AF_UNIX
RestrictNamespaces=yes
LockPersonality=yes
MemoryDenyWriteExecute=yes
RestrictRealtime=yes
RestrictSUIDSGID=yes
SystemCallFilter=@system-service
SystemCallArchitectures=native

[Install]
WantedBy=multi-user.target
